.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

* {
  box-sizing: border-box;
}

@font-face {
    font-family: Norwester;
    src: url(../assets/fonts/norwester.otf);
}

body, html {
  background-color: #000;
  height: 100%;
  width: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: Raleway, Open Sans, sans-serif;
  font-size: 11px;
}

.title {
  font-family: Norwester, Open Sans, sans-serif;
  font-weight: normal;
  position: relative;
  margin-top: 200px;
}

section {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding: 35px;
  background: #000;
  color: #eee;
  box-shadow: inset 0 12px 15px 0 rgba(0, 0, 0, 0.1), inset 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

video {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 100px;
  max-width: 800px;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.scroll-button {
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
}

h1, h2 {
  font-family: Montserrat, Lato, sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

h1 {
  margin-top: 40px;
}

h2 {
  font-size: 3em;
}

ul {
  list-style: none;
}

p {
  font-size: 2em;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

li {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 20px;
  vertical-align: top;
}

li a:hover {
  background-color: #eee;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

li a {
  width: 100%;
  height: 100%;
  height: 200px;
  display: block;
  text-decoration: none;
  color: #333;

  background-repeat: no-repeat;
  background-position: 50% 70%;
  transition: all .3s ease-out;
}

li p {
  padding: 20px;
}

.title img {
  position: absolute;
  bottom: 70px;
  height: 180px;
  padding: 0 2px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.delayed {
  animation-delay: 0s;
}

.arrow {
  width: 100px;
  height: 100px;
  background-image: url(../assets/img/arrow.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.material-placeholder {
  display: inline-block;
}

.screenshots img {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#links {
  background-color: #eee;
  color: #333;
}

.steam {
  background-image: url(../assets/img/steam.svg);
  background-size: auto 50px;
}

.github {
  background-image: url(../assets/img/github.svg);
  background-size: auto 60px;
}

.twitter {
  background-image: url(../assets/img/twitter.svg);
  background-size: auto 60px;
}

.blog {
  background-image: url(../assets/img/blog.png);
  background-size: auto 60px;
}

.fade-in-slow {
  opacity: 0;
  animation: fadeIn 1s ease-out;
  animation-fill-mode: forwards;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s linear;
  animation-fill-mode: forwards;
}

.hidden {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  body, html {
    font-size: 16px;
  }

  section {
    padding: 120px;
  }

  section:first-of-type {
    padding-top: 90px;
  }

  h1 {
    font-size: 9em;
  }

  li {
    width: 400px;
  }

  .title img {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    height: 120px;
    padding: 0 10px;
    width: auto;
  }

  .title {
    font-size: 9em;
    margin-top: 0px;
  }

  .screenshots img {
    width: 300px;
  }

  #statement-text h1 {
    display: none;
  }
}
